/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/varcalgatknfcore -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    //input  = params.pipelines_testdata_base_path + 'rnaseq/samplesheet/samplesheet_minimal.csv'
    input  = params.pipelines_testdata_base_path + 'raredisease/testdata/samplesheet_single.csv'

    // Genome references
    // fasta   = params.pipelines_testdata_base_path + 'raredisease/reference/reference.fasta'
    // fasta = params.pipelines_testdata_base_path + 'rnaseq/reference/chr22_23800000-23980000.fa'  

    // // This blocks work
    // //--------------------
    // fasta   = params.pipelines_testdata_base_path + 'raredisease/reference/Homo_sapiens_assembly38_chr20_chrM.fasta'
    // vcf_forbasecalibrator     = params.pipelines_testdata_base_path + 'raredisease/reference/grch38_gnomad_reformated_-r3.1.1-.vcf.gz' 
    // // vcf_forbasecalibrator_tbi     = params.pipelines_testdata_base_path + 'raredisease/reference/grch38_gnomad_reformated_-r3.1.1-.vcf.gz.tbi' 
    // vcf_forhaplotypecaller     = params.pipelines_testdata_base_path + 'raredisease/reference/grch38_gnomad_reformated_-r3.1.1-.vcf.gz'
    // // vcf_forhaplotypecaller_tbi     = params.pipelines_testdata_base_path + 'raredisease/reference/grch38_gnomad_reformated_-r3.1.1-.vcf.gz.tbi'
    // //--------------------END

    //--------------------
    fasta = params.pipelines_testdata_base_path + 'sarek3/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta'  
    vcf_forbasecalibrator     = params.pipelines_testdata_base_path + 'raredisease/reference/grch38_gnomad_reformated_-r3.1.1-.vcf.gz' 
    vcf_forhaplotypecaller    = params.pipelines_testdata_base_path + 'sarek3/data/genomics/homo_sapiens/genome/chr21/germlineresources/dbsnp_138.hg38.vcf.gz'
    //--------------------END

    // Mutect2 germline and panel of normals
    //--------------------
    vcf_germline_resource       = 'gs://gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz'
    vcf_germline_resource_tbi   = 'gs://gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz.tbi'
    vcf_panel_of_normals        = 'gs://gatk-best-practices/somatic-hg38/1000g_pon.hg38.vcf.gz'
    vcf_panel_of_normals_tbi    = 'gs://gatk-best-practices/somatic-hg38/1000g_pon.hg38.vcf.gz.tbi'
    //--------------------END

    // vcf_forhaplotypecaller     = params.pipelines_testdata_base_path + 'raredisease/reference/dbsnp_-138-.vcf.gz' // no tbi
    // vcf_forhaplotypecaller     = params.pipelines_testdata_base_path + 'sarek/testdata/vcf/Strelka_1234N_variants.vcf.gz'
    // vcf_forhaplotypecaller_tbi     = params.pipelines_testdata_base_path + 'sarek/testdata/vcf/Strelka_1234N_variants.vcf.gz.tbi'
    // vcf_forhaplotypecaller     = params.pipelines_testdata_base_path + 'sarek/testdata/vcf/Strelka_9876T_variants.vcf.gz'
    // vcf_forhaplotypecaller_tbi     = params.pipelines_testdata_base_path + 'sarek/testdata/vcf/Strelka_9876T_variants.vcf.gz.tbi'

    

}
